#root {
  margin: 0 ;
  padding: 0;
  width: 100%;
  color:#000;

  
}
.addstudent-container {
  margin-left: 20%;
  display: flex;
  position:absolute;
  top: 50%;
  width: 80%;
  transform: translateY(-50%);
  
}
.container{
  margin-left: 20%;
  width: 1000px;
}
.course-list{
  margin-left: 20%;
  width: 60%;
 
}

.apphome {
  background-image: url('../public/bckimg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%; /* Ensure the container fills the entire viewport */
  display: flex;
  flex-direction: column;
}
.calendar-container  {
  width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.addschedulebtn{
 justify-content: center;
 width: 50%;
 margin-left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.meeting-cards {
  display: flex;
  flex-wrap: wrap;
}

.meeting-card {
   /* Adjust the width of each meeting card */
  margin: 10px;
  background-color: #b58181;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.meeting-date-time p {
  margin: 0;
  font-weight: bold;
}

.meeting-info {
  margin-top: 8px;
}
.input-fields {
  width: 200px; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  margin: 0 auto; /*
}

.input-fields input,
.input-fields textarea {
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}
 .navbarstaff {
  background-color:#00beff;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it appears above other content */
  /* Optional: Add a background color */
  color: #fff;
  width: 100%;
 margin-top: 0%;
 
}
.welcome-message {
  font-size: 20px; /* Adjust the font size as needed */
}

.nav-item {
  padding: 10px;
  font-size: 20px;
  color: #fff;
}

.navbarstaff .navbar-nav.nav-link {
  color: #fff;
  text-decoration: none;
  
}
.navbar-nav-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbarstaff.nav-link:hover {
  color: #ccc;
} 
/* .addstudent-container {
  position:absolute;
  margin-left: 10%;
 
 
  scroll-behavior:auto;
} */



.dropzone {
  background-color: #d8e3e9;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 40px;
  transition: all 0.3s ease;
  border-radius: 50px;
  font-size: 30px;
  margin-left: 35%;
  width: 30%;
  align-items: center;
  
}

.dropzone.dragging {
  background-color: #b6bcd9;
  border-color: #007bff;
}
.addmateraildiv{
  margin-left: 40%;
  width: 30%;
}
.dropzone-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  
}

.log{

  height: 800px;
  
  width: 20%;
  margin-left: 40%;
  text-align: center;
  border-radius: 50%;

}

.dropzone-content p {
  font-size: 25px;
  color: #333;
  margin-bottom: 20px;
}

.select-button {
  background-color: #4ac256;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.select-button:hover {
  background-color: #1e5410;
}

.select-button:focus {
  outline: none;
  box-shadow: none;
}

.dropzone-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.dropzone-content ul li {
  background-color:#c9d2d7;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  margin: 10px;
  transition: all 0.3s ease;
}

.dropzone-content ul
{
  margin: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.dropzone-content ul li i {
  color: green;
  font-size: 18px;
  margin-right: 10px;
}

.dropzone-content ul li:hover {
  background-color: #f5f5f5;
}

.material-contentss{
  height: 80%;
}
.material-content{
  justify-content: center;
  align-items: center;
}
.material-content-title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #212121;
  justify-content: center;
  align-items: center;
}

.material-content-table {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;

  max-height: 600px; 
  
}
.material-content-item {
  flex-basis: calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #def0ff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s;
}

.material-content-item:hover {
  background-color: #c9e0f5;
}
/* .material-content-item {
  flex-basis: calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #def0ff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */


.material-content-item:nth-child(4n) {
  margin-right: 0;
}

.material-content-link {
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
transition: color 0.3s;
}

.material-content-link:hover {
  color: #000000;
}

@media (max-width: 600px) {
  .dropzone-content p {
    font-size: 14px;
  }
  .select-button {
    padding: 10px 15px;
    font-size: 14px;
  }
  .dropzone-content ul li {
    padding: 8px 15px;
    font-size: 14px;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.material-content-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.material-content-card {
  transition: transform 0.3s;
}

.material-content-card:hover {
  transform: translateY(-5px);
}

/* .card {
  border: 10px solid #767070;
  border-radius: 4px;
  padding: 1rem;
  background-color: #74beca;
} */

.card-body {
  padding: 0.5rem;
  
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.material-content-link {
  color: #333;
  text-decoration: none;
}
.material-content-card{
  padding: 0.5rem;
}


    
    .content-button{
      /* width:40%; */
      display: flex;
      flex-direction: column;
      /* border: 1px solid #b7b4ff;  */
  padding: 20px; /* padding inside the box */
 /* background color of the box */
  border-radius: 5px;
  
  background-color: #89d9ff;

    }
    .heading-content-button{
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-left: 30%;
    }
    .options-list,li{
      display: flex;
      flex-direction: column;
      color: #000;
    }
    /*grade display*/
    .table-hover tbody tr:hover td{
      background-color:#d8f5ff;
    }
    
    tr:active {
      background-color: #a9cbff;
    }
    /*student view course*/
    .viewcoursediv{
      /* background-color: #86c6ce;
background-image: linear-gradient(0deg, #86c6ce 42%, #4bf1ef 100%); */
background-color: #d8f5ff;
    }
    .course-list {
      margin-top: 3px;
    }
    /* .quiz-container-div{
      background-color:#c2ebff ;
    } */
    .quiz-container {
      min-height: 100vh;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d8f5ff; /* Change the background color as needed */
    }
    
    .quiz-content {
      background-color: white;
      padding: 2rem;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .prev{
      background-color: #003b4f;
    }
    .bgfinal{
      min-height: 100vh;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d8f5ff;
    }
    .staffdiv{
      min-height: 100vh;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d8f5ff;
    }
    .createfinal{
      color:#000;
      background-color: #d8f5ff;
    }
  
    .error_msg,.success_msg{
      width:370px;
      padding:15px;
      background-color: #cf1834;
      color:#fff;

    }
    .success_msg{
      background-color: #1e5410;
    }